/* -----------------------
--------------------------
--------------------------

CSS TABLE OF CONTENTS


# GLOBAL STYLES
    #GLOBAL VARIBLES (Colors, fonts ,etc.)
    #GLOBAL COLORS
    #FGLOBAL TYPOGRAPHY
    #GLOBAL MEDIA

#LAYOUT
    #MEDIA QUERIES'
    #TYPOGRPAHY

# GLOBAL MEDIA (Making images responsive)

--------------------------
--------------------------
-------------------------*/

 /* --------------------------
 ---------GLOBALS---------
 ---------------------------- */


/* GLOBAL VARIBLES */
 :root {
 
    --color-text-body: rgba(0, 0, 0, 0.8);
    --color-text-headings: rgb(7, 37, 11);
    --color-body-background: rgb(244, 244, 244);
    --color-links: rgb(20, 119, 41);
    --color-links-hover: rgb(203, 79, 79);

   /* DEFINE ALL FONTS */
    --font-body: "Helvetica", Arial, sans-serif;
    --font-headings: Georgia, serif;

    /* SIZING UNITS */



 }
 
/* GLOBAL RESET */

        /* CHANING BOX-SIZING FOR ALL TO BORDER-BOX */
        * {
            box-sizing: border-box;
        }
        
        /* REMOVE THE DEAULT 8px MARGIN ON BODY*/
        body {margin:0}


 /* GLOBAL COLORS */

       /* SET THE COLOR OF THE MAIN BODY TEXT */
        body {
            color: var(--color-text-body);
        /* SET THE COLOR OF THE BACKGROUND */
            background-color: var(--color-body-background);
        }
         /* SET THE COLOR OF HEADINGS */
        h1, h2, h3 {
            color: var(--color-text-headings);
        }

        a {
            /* SET THE COLOR OF ALL TEXT LINKS */
            color: var(--color-links);

            /* THIS IS A NEST HOVER STATE */
            &:hover {

                color:var(--color-links-hover);
            }
        }
        
/* GLOBAL TYPOGRAPHY */

        /* FONT FAMILY */
            /* BODY FONT */
            body {
                font-family: var(--font-body);
                line-height: 1.4;
            }


            /* HEADING FONT  */
            h1, h2, h3 {
                font-family: var(--font-headings);
            }

        /* TYPOGRAPHIC SCALE */
            h1 {

                /* SET H1 FONT SIZE */
                font-size: 3em;

                /* SET H1 LEADING */
                line-height: 1;
            }

            h2 {

                /* SET H1 FONT SIZE */
                font-size: 2em;

                /* SET H1 LEADING */
                line-height: 1.2;
            }
            h3 {

                /* SET H1 FONT SIZE */
                font-size: 1.5em;

                /* SET H1 LEADING */
                line-height: 1.3;
            }

            p {
                max-width: 65ch;
                text-wrap: pretty;
            }

/* GLOBAL MEDIA */

            img {
                /* MAKE ALL IMAGES SHRINK ON SMALL SCREENS */
                max-width: 100%;
                height: auto;
            }

 /* --------------------------
 ---------LAYOUT--------------
 -------------------------- */


 /* RESPONSIVE TYPOGRAPHY  */



 /* SMALL SCREENS (MOBILE < 768PX) */

            body {
             /* 14 PX */
                font-size: 87.5%;
            }

 /* MEDIUM SCREENS (TABLETS < 1200PX) */
            @media (min-width:768px) {
                body {
                    /* 16 PX */
                    font-size: 100%;
                }
            }

 /* LARGE SCREENS (LAPTOP/DESKTOPS > 1200PX) */
            @media (min-width:1200px) {
                body {
                    /* 16 PX */
                    font-size: 112.5%;
                }
            }

/* CONTAINER */
            .container {
                max-width: 1200px;
                margin-left: auto;
                margin-right: auto;
                padding: 0 1em;
                
            }

/* GRID */
            /* LARGE SCREENS ONLY */
            @media (min-width: 768px) {
                .row {
                    display: grid;
                    grid-template-columns:repeat(12, 1fr);
                    gap: 2em;
                  
                    
                }
                .one-half {grid-column: span 6 / span 6;}
                .one-third {grid-column: span 4 / span 4;}
                .two-thirds{grid-column: span 8 / span 8;}
                .one-fourth {grid-column: span 3 / span 3;}
                .three-fourths {grid-column: span 9 / span 9;}


                } 
                .row > * {
                    margin-bottom: 1em;
                }


                /* for demo */
              .demo > * {
                background-color: pink;
                padding: 1em;
                text-align: center;
            }